FB_HOST=localhost
FB_PORT=443
FB_USERNAME=
FB_PASSWORD=

FEDEX_CLIENT_ID=
FEDEX_CLIENT_SECRET=
FEDEX_ACCOUNT_NUMBER=
FEDEX_BASE_URL=https://apis-sandbox.fedex.com

SHIPPER_CITY=TAMPA
SHIPPER_STATE=FL
SHIPPER_ZIP=33610
SHIPPER_COUNTRY=US
